## haproxy.cfg

global
        user haproxy
        group haproxy
        daemon
        maxconn 16384
        pidfile /var/run/haproxy.pid

defaults
        balance roundrobin
        mode tcp
        retries 3
        option redispatch
        contimeout 300000
        clitimeout 1800000
        srvtimeout 1800000
        option tcplog
        log 127.0.0.1 local0 notice

# Web admin page
listen stats 0.0.0.0:9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000
   
    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats        

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics 

    #The user/pass you want to use. Change this password!
    stats auth admin:passwordhere   

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE
   
# http HA
listen webfarm 0.0.0.0:8080
    mode http
    stats enable
    stats uri /haproxy?stats
    balance roundrobin
    option httpclose
    option forwardfor
    server webserver01 NODE1:80 check
    server webserver02 NODE2:80 check
   
   